:root {
	--black: #000000;
	--black-light: rgba(0, 0, 0, 0.3);
	--blue-light-1: #2f454e;
	--blue-light-2: #2b8ead;
	--blue-light-3: #72c3dc;
	--blue-light-4: #6f98a8;
	--dark-charcoal: #333333;
	--gray-dark-1: #bfbfbf;
	--white: #ffffff;
	--white-smoke: #efefef;
}