.app {
	margin: 0;
	padding: 0;
	font-family: Maersk Headline, -apple-system, BlinkMacSystemFont,
		Microsoft JhengHei, Microsoft Yahei, STXihei, sans-serif;
}

@media screen and (min-width: 960px) {
	.app {
		background: var(--white);
	}
}

.app__header {
	background: var(--dark-charcoal);
	color: var(--white);
	padding: 1.5rem;
	box-shadow: 0 0 0 0.5rem var(--black-light);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
}

@media screen and (min-width: 960px) {
	.app__header {
		background: var(--white);
		color: var(--black);
	}
}

.app__contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 960px) {
	.app__contents {
		flex-direction: row-reverse;
		align-items: flex-start;
	}
}

.app__contents__buttons {
	margin: 0.5rem 0;
}

@media screen and (min-width: 960px) {
	.app__contents__buttons {
		margin: 0;
	}
}

.app__contents__items {
	display: grid;
	width: 90%;
	grid-template-columns: auto;
}

@media screen and (min-width: 960px) {
	.app__contents__items {
		display: grid;
		width: 100%;
		grid-template-columns: auto auto auto;
		margin-top: 0.5rem;
	}
}

.app__contents__items__item {
	height: 3.75rem;
	color: var(--black);
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (min-width: 960px) {
	.app__contents__items__item {
		height: 11.25rem;
		font-size: 6rem;
		color: var(--white);
	}
}

.app__contents__items__item--1,
.app__contents__items__item--2,
.app__contents__items__item--3,
.app__contents__items__item--4,
.app__contents__items__item--5,
.app__contents__items__item--6,
.app__contents__items__item--7,
.app__contents__items__item--8,
.app__contents__items__item--9 {
	background: var(--white-smoke);
	margin-bottom: 0.5rem;
}

.app__contents__items__item--3,
.app__contents__items__item--5,
.app__contents__items__item--9 {
	border-left: 0.3rem solid var(--blue-light-1);
}

.app__contents__items__item--2,
.app__contents__items__item--4 {
	border-left: 0.3rem solid var(--blue-light-2);
}

.app__contents__items__item--1,
.app__contents__items__item--8 {
	border-left: 0.3rem solid var(--blue-light-4);
}

.app__contents__items__item--6,
.app__contents__items__item--7 {
	border-left: 0.3rem solid var(--gray-dark-1);
}

@media screen and (min-width: 960px) {
	.app__contents__items__item--1,
	.app__contents__items__item--2,
	.app__contents__items__item--3,
	.app__contents__items__item--4,
	.app__contents__items__item--5,
	.app__contents__items__item--6,
	.app__contents__items__item--7,
	.app__contents__items__item--8,
	.app__contents__items__item--9 {
		margin: 0;
	}
	.app__contents__items__item--3,
	.app__contents__items__item--5,
	.app__contents__items__item--9 {
		background: var(--blue-light-1);
	}

	.app__contents__items__item--2,
	.app__contents__items__item--4 {
		background: var(--blue-light-2);
	}

	.app__contents__items__item--1,
	.app__contents__items__item--8 {
		background: var(--blue-light-4);
	}

	.app__contents__items__item--6,
	.app__contents__items__item--7 {
		background: var(--gray-dark-1);
	}
}

.app__contents__buttons__btn {
	overflow: visible;
	display: inline-block;
	width: 8.4375rem;
	font-family: inherit;
	font-size: 1rem;
	text-transform: uppercase;
	margin: 0.5rem;
	padding: 0.8rem 2rem;
	background: var(--blue-light-3);
	color: var(--white);
	border: 0.0625rem solid var(--blue-light-2);
	border-radius: 0.3125rem;
	box-shadow: 0 0.3125rem 0 var(--blue-light-2);
	text-shadow: 0.0625rem 0.0625rem 0.0625rem var(--blue-light-2);
	font-weight: 400;
	transition: All 250ms ease;
}

@media screen and (min-width: 960px) {
	.app__contents__buttons__btn {
		padding: 1rem 3.125rem;
		display: block;
		margin: 1.5rem 1.5rem 0 0.5rem;
		width: 15rem;
	}
}

.app__contents__buttons__btn:active {
	box-shadow: none;
	position: relative;
	top: 0.25rem;
}

.app__footer {
	text-align: center;
	color: var(--dark-charcoal);
	padding: 0.5rem;
}
